{%extends 'base.twig'%}
{%block title%}
    Admin login
{%endblock%}
    {% block styles %}
    <!-- <link rel="stylesheet" href="Src/Presentation/css/styles.css"/> -->
    {%endblock%}
    {%block header%}
        <div class="container">
            <h1>Admin Login</h1>
        </div>
    {%endblock%}
    {%block content%}
        <form class= "adminlogin" action="adminlogin.php" method="POST"><label for="for" value="">username <input name="user" type="text" value="username"> </label>
        <label for="for" value="">username <input name="password" type="password" value="password"> </label>
        <input name="submit" type="submit" value="submit"> 
        </form>
        {% if error is defined%}
        {%if error =="usernotfound"%}
        {%elseif error=="incorrectpassword"%}
        {%endif%}
        {%endif %}
    {%endblock%}
    {%block footer%}
     <footer>
            <div class= "container">Deze site is een van de projecten die ik heb gemaakt tijdens de VDAB opleiding PHP ontwikkelaar.</div>
        </footer>
    {%endblock%}


