{%extends 'base.twig'%}
{%block title%}
    Admin login
{%endblock%}
    {% block styles %}
 <link rel="stylesheet" href="Src/Presentation/css/styles.css"/>
    {%endblock%}
    {%block header%}
        <div class="container">
            <h1>Admin Login</h1>
        </div>
    {%endblock%}
    {%block content%}
 <form class= "adminlogin" action="adminlogin.php" method="POST"> <input name="user" type="text" placeholder="username"> 
        <label for="for" value="">username <input name="password" type="password" placeholder="password"> </label>
        <input name="submit" type="submit" value="submit"> 
        </form>
        {% if error is defined%}
        {%if error =="usernotfound"%}
    <p class="error" >Deze naam is niet bekend in ons systeem.</p>
        {%elseif error=="incorrectpassword"%}
    <p class="error">Uw wachtwoord is incorrect.</p>
        {%endif%}
        {%endif %}
    {%endblock%}
    {%block footer%}
     <footer>
            <div class= "container">Deze site is een van de projecten die ik heb gemaakt tijdens de VDAB opleiding PHP ontwikkelaar.</div>
        </footer>
    {%endblock%}


