<!doctype html>
<html>
    <head>
        <title>
            {%block title%}
                BASE
            {%endblock%}
        </title>
        {%block styles%}
        {%endblock%}
    </head>
    <body>
        {%block header%}
            HEADER
        {%endblock%}
        {%block content%}
            BaseContent
        {%endblock%}
        {%block scripts%}
        {%endblock%}
        {%block footer%}
            FOOTER
        {%endblock%}
    </body>
</html>
{# empty Twig template #}
