<!doctype html>
<html>
    <head>

        <title>
            {%block title%}
            BASE
            {%endblock%}
        </title>
        {%block styles%}
        <style>
            *{
                outline:red solid 1px;
            }
            pre{
                color:white;
                font-weight:bolder;
            }
        </style>
        <link rel="stylesheet" href="Src/Presentation/css/styles.css"/>
        {%endblock%}
    </head>
    <body>
        <pre>TO DO:
*fix leeg labels doen imgmap naar de klote (position: relative; left en top in pixels)
*fix can placement on zoom
*fix jquery for other coins
*JUISTE FKING WEERGAVE VAN DE MUNTEN FIXE WERKT NOG ALTIJD NI!!!!!!!!!!!!!!!!!
    -20 cent gaat nog alty onder nul!!!
    -deftig testen!!!
        </pre>
        <header>
        {%block header%}
            HEADER
        {%endblock%}
        </header>
        <div class=" container">
        {%block content%}
            BaseContent
        {%endblock%}
        </div>
        {%block scripts%}
        {%endblock%}
        <footer>
        {%block footer%}
            <div class= "container">Project tijdens de VDAB opleiding PHP ontwikkelaar.<br> Gemaakt door Mark Van Der Veken in 2014
                met PHP, CSS3, HTML5, jQuery</div>
        {%endblock%}
        </footer>
    </body>
</html>
{# empty Twig template #}
