/* RESET */
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td { margin: 0; padding: 0; } 
body{font-size:100%;}
ul{list-style:none;}
/* Einde RESET */
/* </editor-fold>*/


/* TYPOGRAFIE<editor-fold defaultstate="collapsed" desc="TYPOGRAFIE">*/
body{
    font-family:arial,helvetica,sans serif;
}
header,footer{
    text-align:center;
}
a{
    text-decoration:none;
}
form{
    text-align:right;
}
/* </editor-fold>*///TYPOGRAFIE


/* BOX-MODEL<editor-fold defaultstate="collapsed" desc="BOX-MODEL">*/

/* ALGEMENE ELEMENTEN<editor-fold defaultstate="collapsed" desc="ALGEMENE ELEMENTEN">*/
body{
    min-width:50em;
}
header,footer{
    margin-bottom:1em;
}
.container{
    max-width:32.5em;
    margin:0 auto;
}
/* </editor-fold>*///ALGEMENE ELEMENTEN

/* imagemap automaat<editor-fold defaultstate="collapsed" desc="imagemap automaat">*/
#automaat img{
    min-width:30%;
    float:left;
}
/* </editor-fold>*///imagemap automaat

/* leegindicator<editor-fold defaultstate="collapsed" desc="leegindicator">*/
.leegholder{
    float:left;
    margin-top:8.5em;
    margin-left:-0.8em;
}
.leeg {
    float:right;
    clear:both;
}
/* </editor-fold>*///leegindicators

/* muntenweergave<editor-fold defaultstate="collapsed" desc="muntenweergave">*/
form{
    margin-top:10em;
}
.muntenholder {
    max-width:32.5em;
    margin-left:5%;
}
.munten a{
    float:left;
}
.muntdiv{
    overflow:hidden;
    width:5.6em;
    height:5.6em;
    padding-right:0.1em;
    -webkit-box-shadow: inset 1px 1px 21px 6px rgba(220, 20, 60, 1);
    -moz-box-shadow:    inset 1px 1px 21px 6px rgba(220, 20, 60, 1);
    box-shadow:         inset 1px 1px 21px 6px rgba(220, 20, 60, 1);
}
.muntimg{
    width:100%;
}
/* </editor-fold>*///muntenweergave

/* ADMINPANEEL<editor-fold defaultstate="collapsed" desc="ADMINPANEEL">*/
.adminlogin{
    margin-top:1em;
    margin-bottom:1em;
}
.adminpaneel{
    color: white;
}
.adminpaneel h3{
    margin-top:1em;
}
/* </editor-fold>*///ADMINPANEEL

/* SALDOWEERGAVE<editor-fold defaultstate="collapsed" desc="SALDOWEERGAVE">*/
#saldo{
    min-width:456px;
    padding:2em 0;
    display:block;
    clear:both;
}
#saldo span{
    display:inline-block;
    width:50%;
    padding:0;
}
#saldo button{
    margin-top:-10em;
    width:49%;
    border:1px outset white;
}
/* </editor-fold>*///SALDOWEERGAVE

/* </editor-fold>*///BOX-MODEL


/* KLEUR<editor-fold defaultstate="collapsed" desc="KLEUR">*/
body{
    background-color: crimson;
}
button{
    background:crimson;
    color:white;
}
header,footer{
    background-color:white;
}
.leeg {
    background: crimson;
    color:yellow;
}
#saldo{
    color:white;
}
#saldo button{
    background-color:crimson;
    color:white;
}
/* </editor-fold>*///KLEUR


/* HULPKLASSEN<editor-fold defaultstate="collapsed" desc="HULPKLASSEN">*/
.hidden{
    display:none;
}
.float{
    float:left;
}
.clearL{
    clear:left;
}
/* </editor-fold>*///HULPKLASSEN

/* DEBUGOUTLINE<editor-fold defaultstate="collapsed" desc="DEBUGOUTLINE">*/
*{
    outline:yellowgreen solid 1px;
}
/* </editor-fold>*///DEBUGOUTLINE
body{
    background-color:yellow;
}